@import url("../../public/fonts/video/stylesheet.css");

@font-face {
  font-family: "Nexa";
  src: url("/fonts/nexa-bold/NexaLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url("/fonts/nexa-bold/NexaBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vox";
  src: url("/fonts/Vox-Regular/Vox-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@import "tw-animate-css";

@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background-main: #efefef;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background-main);
  --color-foreground: var(--foreground);
  --color-brand: #0043d8;
  --color-brand-blue: #0043d9;
  --color-stat-card: #2c509f;
  --color-footer: #0a1f44;
  --font-nexa: "Nexa", sans-serif;
  --font-nexabold: "Nexa", sans-serif;
  --font-vox: "Vox", sans-serif;
  --font-vox-15: "Vox 15", sans-serif;
  --font-video: "Video", sans-serif;
  --font-video-cond: "Video Cond", sans-serif;
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background-main);
  color: black;
}

.stat-card {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 33%);
}

@keyframes progress-line {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.services-swiper {
  --swiper-navigation-size: 22px;
  --swiper-navigation-color: #fff;
  --swiper-navigation-sides-offset: 160px;
}

@media (max-width: 1024px) {
  .services-swiper {
    --swiper-navigation-sides-offset: 120px;
  }
}
@media (max-width: 768px) {
  .services-swiper {
    --swiper-navigation-sides-offset: 80px;
  }
}
@media (max-width: 480px) {
  .services-swiper {
    --swiper-navigation-sides-offset: 50px;
  }
}

.services-swiper .swiper-navigation-icon {
  width: 12px;
  height: auto;
  max-height: 20px;
}

.services-swiper .swiper-slide {
  height: auto;
  transition:
    opacity 0.45s ease,
    transform 0.45s ease;
}

.services-swiper .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

.services-swiper .swiper-button-prev,
.services-swiper .swiper-button-next {
  top: 50%;
  margin-top: -22px;
  width: 60px;
  height: 55px;
  border-radius: 5px;
  background: rgb(255 255 255 / 0.14);
  backdrop-filter: blur(4px);
}
@media (max-width: 1024px) {
  .services-swiper .swiper-button-prev,
  .services-swiper .swiper-button-next {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 768px) {
  .services-swiper .swiper-button-prev,
  .services-swiper .swiper-button-next {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 480px) {
  .services-swiper .swiper-button-prev,
  .services-swiper .swiper-button-next {
    width: 30px;
    height: 30px;
  }
}
.services-swiper .swiper-button-prev:hover,
.services-swiper .swiper-button-next:hover {
  background: rgba(239, 234, 234, 0.24);
}

.services-swiper .swiper-button-prev:after,
.services-swiper .swiper-button-next:after {
  font-size: 10px;
  font-weight: 500;
}

.services-swiper .swiper-button-disabled {
  opacity: 0.3;
}

.testimonial-clip {
  clip-path: polygon(76% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
}
.embla {
  overflow: hidden;
  cursor: grab;
}
.embla:active {
  cursor: grabbing;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
